* {
 background-color: rgb(34, 34, 34); 
 color: #fafafa;
 text-align: center;
 padding-top: 2vh;
 align-content: center;
}

.app-main{
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
}
.app-input {
background-color: #fafafa;
color: black;
}

.button-generate{
  background-color: rgb(73, 73, 73);
  color: white;
  margin: 16px;
  padding: 10px;
  border-radius: 20px;
}

.result-image {
  margin-top: 20px;
  width: 350px;
}